<div class="post-metadata">
  <div class="date">{{date format=dateFormat}}</div>
  {{#if tags}}
  <div class="tags">
    {{#foreach tags}}
    <a href="{{url}}">{{name}}</a>
    {{/foreach}}
  </div>
  {{/if}}
</div>