img {
  width: 100%;
  height: auto;

  @include media-breakpoint-up(sm) {
    width: 80%;
  }
  @include media-breakpoint-up(lg) {
    width: 60%;
  }
}

.kg-width-wide img {
  width: 100%;

  @include media-breakpoint-up(sm) {
    width: 90%;
  }
  @include media-breakpoint-up(lg) {
    width: 80%;
  }
}

.kg-width-full img {
  width: 100%;
}
