table {
  display: block;
  margin-bottom: 1rem;
  overflow-x: auto;
  white-space: nowrap;

  tr {
    background-color: $table-bg-color;
    border-top: $table-border;

    &:nth-child(2n) {
      background-color: $table-bg-2n-color;
    }
  }

  th,
  td {
    padding: 6px 13px;
    border: $table-border;
  }

  th {
    font-weight: 700;
    text-align: center;
  }
}
