@mixin post-content-text {
  blockquote {
    padding: 2px 0 2px 0.7em;
    font-size: 0.97em;
    color: $blockquote-text-color;
    border-left: 3px solid $blockquote-border-color;

    & > p {
      margin-bottom: 0;
    }
  }
}
