{{!< default}}
<div class="post-list">
  {{#foreach posts}}
    {{> "post-card"}}
  {{/foreach}}

  <nav id="pagination"></nav>

  {{#with pagination}}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const el = document.getElementById('pagination')
      const page = Number("{{page}}")
      const pages = Number("{{pages}}")
      const createPageUrl = (num) => `{{page_url}}page/${num}/`
      appendPagination(el, page, pages, createPageUrl)
    })
  </script>
  {{/with}}
</div>