{{!< default}}
<div class="index-page">
  <div class="post-list">
    {{#foreach posts}}
      {{> "post-card"}}
    {{/foreach}}
  </div>
  <div class="profile">
    <div class="profile__title">プロフィール</div>
    <div class="profile__image">
      <img src="{{asset 'images/sugtao4423.jpg'}}" alt="sugtao4423">
    </div>
    <div class="profile__text">
      名前: tao<br>
      Twitter: <a href="https://twitter.com/sugtao4423">@sugtao4423</a><br>
      どこ住み？: 東京23区外
    </div>
  </div>
</div>