{{!< default}}
{{#post}}
<main class="post">
  <article>
    <header>
      <div class="reading-time">{{reading_time}}</div>
      <h1 class="title">{{title}}</h1>
      {{> "post-metadata" dateFormat="YYYY/MM/DD HH:mm"}}
    </header>
    <div class="content">{{content}}</div>
  </article>
</main>
{{/post}}