.tag-page.tag-name {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    display: block;
    width: 0.9em;
    height: 0.9em;
    background-color: $tag-page-icon-color;
    mask-image: url(../icons/tag.svg);
    mask-repeat: no-repeat;
    margin-right: 0.4rem;
  }
}

.post-list {
  #pagination {
    margin-top: 1.6rem;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;

    > * + * {
      margin-left: 0.5rem;
    }

    a {
      color: $pagination-text-color;
    }

    .page {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      background-color: $pagination-bg-color;
      border: $pagination-border;

      &.current {
        color: $pagination-active-text-color;
        background-color: $pagination-active-bg-color;
      }
    }
  }
}
