.post-metadata {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1rem;
  font-size: 0.95rem;
  color: $post-meta-text-color;

  .date,
  .tags {
    display: flex;
    gap: 4px;
    align-items: center;

    &::before {
      display: block;
      flex-shrink: 0;
      width: 1em;
      height: 1em;
      content: '';
      background-color: $post-meta-text-color;
      mask-repeat: no-repeat;
    }
  }

  .date::before {
    mask-image: url('../icons/clock.svg');
  }

  .tags {
    &::before {
      mask-image: url('../icons/tag.svg');
    }

    &__inner {
      display: flex;
      flex-wrap: wrap;
      gap: 0 0.6rem;

      a {
        color: unset;
      }
    }
  }
}
