.post-card {
  padding: 1rem;
  background-color: $post-card-bg-color;
  border: $post-card-border;
  border-radius: 4px;
  text-autospace: normal;

  & + & {
    margin-top: 1.2rem;
  }

  a {
    color: unset;
  }

  .title {
    font-size: 1.6rem;
  }

  .body {
    display: flex;
    gap: 1rem;
    margin-top: 0.6rem;

    %thumbnail-size {
      width: 150px;
      max-width: 28vw;
      height: 150px;
      max-height: 28vw;
    }

    .thumbnail {
      @extend %thumbnail-size;

      img {
        @extend %thumbnail-size;

        object-fit: cover;
      }
    }

    .excerpt {
      max-height: calc($line-height-base * 6em);
      overflow: hidden;
    }
  }
}
