.post-card {
  background-color: $post-card-bg-color;
  padding: 1rem;
  border: $post-card-border;
  border-radius: 4px;

  & + & {
    margin-top: 1.6rem;
  }

  a {
    color: unset;
  }

  .title {
    font-size: 1.6rem;
    font-weight: 700;
  }

  .metadata {
    @extend %post-metadata;
  }

  .body {
    display: flex;
    margin-top: 0.6rem;

    %thumbnail-size {
      width: 150px;
      height: 150px;
      max-width: 28vw;
      max-height: 28vw;
    }

    .thumbnail {
      @extend %thumbnail-size;

      img {
        @extend %thumbnail-size;
        object-fit: cover;
      }
    }

    .excerpt {
      margin-left: 1rem;
      max-height: calc($line-height-base * 6em);
      overflow: hidden;
    }
  }
}
