// Override Bootstrap variables
$body-bg: #c0e8e8;
$font-family-sans-serif: -apple-system, 'BlinkMacSystemFont',
  'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif,
  'Segoe UI Emoji';
$font-family-monospace: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
  Liberation Mono, monospace;

$link-color: #2ac738;
$link-decoration: none;
$link-hover-decoration: underline;

$line-height-base: 1.6;

$h1-font-size: 2rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1.1rem;
$h6-font-size: 1rem;
$headings-font-weight: 700;

// Custom variables
$ribbon-color: #2b7bb9;

$profile-bg-color: #fff;
$profile-border-color: #cdcdcd;
$profile-border: 1px solid $profile-border-color;
$profile-icon-color: #93a5b1;
$profile-icon-hover-color: #6e7b85;

$post-card-bg-color: #fff;
$post-card-border-color: #cdcdcd;
$post-card-border: 1px solid $post-card-border-color;

$post-meta-text-color: #6c757d; // Bootstrap $gray-600

$pagination-bg-color: #fff;
$pagination-text-color: #555;
$pagination-active-bg-color: #2ac738;
$pagination-active-text-color: #fff;
$pagination-border-color: #ccc;
$pagination-border: 1px solid $pagination-border-color;

$post-bg-color: #fff;
$post-reading-time-text-color: #999;
$post-border-color: #cdcdcd;
$post-border: 1px solid $post-border-color;

$footer-text-color: #979494;
$footer-link-color: #cfcfcf;

// Post content
// pre code
$pre-bg-color: #f6f8fa;
$code-bg-color: rgba(175, 184, 193, 0.2);
$code-font-size: 85%; // Override Bootstrap
$code-color: #1f2328; // Override Bootstrap

// bookmark
$bookmark-bg-color: #fff;
$bookmark-bg-hover-color: rgba(239, 246, 251, 0.7);
$bookmark-border-color: rgba(92, 147, 187, 0.2);
$bookmark-border: 1px solid $bookmark-border-color;
$bookmark-description-text-color: #77838c;
$bookmark-metadata-text-color: rgba(0, 0, 0, 0.8);

// table
$table-bg-color: #fff;
$table-bg-2n-color: #f6f8fa;
$table-border-color: #ccc;
$table-border: 1px solid $table-border-color;
