@charset "utf-8";

@import '../../node_modules/bootstrap/scss/functions';

@import './variables';

@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/maps';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/root';
@import '../../node_modules/bootstrap/scss/reboot';
@import '../../node_modules/bootstrap/scss/containers';
@import '../../node_modules/bootstrap/scss/grid';

// Required by ghost
.kg-width-wide,
.kg-width-full {
  display: block;
}

img {
  width: 100%;
}

@import './default/header';
@import './default/footer';

@import './index';

.site-main {
  @extend .container;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
